:root {
    --color1: #282C34;
    --color2: #16A085;
    --color7: #ABB2C0;
    --color8: #5A606E;
}
html.rotateme {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

@media only screen and (max-width: 900px) {
  html, body, .container {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }

  html, body {
      overflow: hidden;
      background-color: var(--color1);
      transition: all .5s ease-in-out;
  }

  i {
      border: 1px solid var(--color2);
      border-width: 0 10px 10px 0;
      display: inline-block;
      padding: 20px;
      margin: 20px;
  }

  nav {
      background-color: var(--color1);
      height: 90px;
      width: 100%;
      position: absolute;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .sub {
      font-weight: lighter;
  }
}


@media only screen and (min-width: 901px) {

  body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
  }
  
  nav {
      background-color: var(--color1);
      height: 90px;
      width: 100%;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px -5px 5px black;
  }

  a {
    text-decoration: none;
  }

  .sub {
      font-weight: lighter;
  }
}
